receivers:
  otlp:
    protocols:
      grpc:
      http:

processors:
  batch:
    timeout: 5s
    send_batch_size: 512
  transform/loki_labels:
    error_mode: ignore
    log_statements:
      - context: resource
        statements:
          - set(attributes["service_name"], attributes["service.name"])
          - set(attributes["environment"], attributes["deployment.environment"])
      - context: log
        statements:
          - set(attributes["level"], severity_text)
          - set(attributes["loki.resource.labels"], "service_name,environment")
          - set(attributes["loki.attribute.labels"], "module,operationType,level")

exporters:
  otlp/tempo:
    endpoint: tempo:4317
    tls:
      insecure: true
  prometheus:
    endpoint: "0.0.0.0:9464"
  otlphttp/loki:
    endpoint: http://loki:3100/otlp
    tls:
      insecure: true

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp/tempo]
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [prometheus]
    logs:
      receivers: [otlp]
      processors: [transform/loki_labels, batch]
      exporters: [otlphttp/loki]
